html{
  position:relative;
}
 body{
   border: 20px;
   background-color: #d1d1e0;

}
.centered-button{
  align:center;
}
h4{
  color:yellow;
}
#pingpong{
 color:white;
 background-color: black;
 border-radius: 50%;

}
#fire{
  display:none;
}
#next,#prev{
  display:none;
  align-self: center;
  color: white;
  background-color: gold;
  border-radius: 50%;
}
.centered{
   position: absolute;
   top:70%;
   left: 50%;
   transform: translate(-50%,-50%);

 }
  #cont1{
   position:relative;
   color:white;
   text-align: center;
 }
.header
{
  position:relative;
  text-align: center;
  color: White;
}

.jumbotron{
  background-color: black;
  color: White;
}
.rules{
  cursor: pointer;
  color: orange;
}
.rules:hover{
  text-decoration:underline;

}
.rulesshow{
  display:none;
}

.ping{
  color: blue;
}

.pong{
color: green;
}

.pingpong{
  color:red;
}
