 body{
  /* background-color: #d1d1e0; */
  /* background-image: url("Fireworks-1.jpg"); */
}
#next,#prev{
  display:none;
  align:center
  color:red;
}
.centered{
   position: absolute;
   top:70%;
   left: 50%;
   transform: translate(-50%,-50%);

 }
  #cont1{
   position:relative;
   color:white;
   text-align: center;
 }
.header
{
  position:relative;
  text-align: center;
  color: White;
}

.jumbotron{

  background-color: black;
  color: White;
}

.ping{
  color: blue;
}

.pong{
color: green;
}

.pingpong{
  color:red;
}

.clickable{
  /* text-color: blue; */
  /* text-size: 30px; */
 cursor: pointer;
  color: #ffffff;
}

.clickable:hover{
  text-decoration: underline;
}
